@import "tailwindcss";
@layer base {
  img {
    display: initial;
  }
}

.page-break {
  page-break-before: always;
  break-before: page;
}

.no-break {
  page-break-inside: avoid;
  break-inside: avoid;
}
